.sentMessageContainer, .receivedMessageContainer {
  width: 60vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  float: right;
  margin: 8px;
}

.sentMessageContainer {
  align-items: flex-end;
  justify-content: flex-end;
}

.receivedMessageContainer {
  align-items: flex-start;
  justify-content: flex-start;
}

.sentMessage, .receivedMessage {
  z-index: 1;
  text-align: left;
  padding: 12px 24px;
  font-family: "roboto", sans-serif;
  border-radius: 36px;
  /* animations */
  animation: expand-bounce 0.25s ease-out 0s forwards;
  animation-delay: var(--delay);
  max-width: 80%;
}

.sentMessage {
  color: #fff;
  background: linear-gradient(90deg, rgba(29,120,234,1) 0%, rgba(24,83,202,1) 100%);
}

.receivedMessage {
  color: #000;
  background: #eef2fb;
}

.sentMessage:hover, .receivedMessage:hover {
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
  transition: all 200ms ease 0s;
}

.sentMessage:active {
  background: linear-gradient(90deg, #1a6dd3 0%, #164bb6 120%);
}

.receivedMessage:active {
  background: #d6dae2;
}

.senderText {
  font-family: "roboto", sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 4px;
}

@keyframes expand-bounce {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 800px) {
  .sentMessageContainer, .receivedMessageContainer {
    width: auto;
  }
  .sentMessage, .receivedMessage {
    max-width: 85%;
  }
}
